@import url(https://fonts.google.com/specimen/Montserrat);

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E1E5EE;
}

nav {
    display: flex;
    place-content: space-evenly;
}

#content h2 {
    display: flex;
    background-color: #2A324B;
    padding: 2rem 3rem;
}

#content a {
    text-decoration: none;
    color: #fff;
}